.patient-signin i{
    color: red;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-style: normal;
}
.password-input-container {
    position: relative;
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .hpsignin-regbutton{
    margin-left: 60px;
    /* width: 300px; */
  }
  