.patient-viewcounlist{
    background: #ECF6FA;

}

.patient-viewcounlist-con{
    text-align: center;
}

.patient-viewcounlist-head{
    font-weight: 300;
    color: #0A5377;

}
.allcounser-user-image img {
    width: 100px;
    height: 100px;
}


