.patienthp-mainbox{
    width: 100%;
    min-height: 335px;
    max-height: fit-content;
flex-shrink: 0;
border: 1px solid #0A5377;
background: #ECF6FA;
}
.patientreqhp-button{
    padding-top: 250px;
}