/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  .modalhead h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .modal-content {
    width: 550px;
    max-width: 90%;
    background:rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    z-index: 1001; 
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
  color: white;
  }
  .modalbutton button{
    margin-top: 0px;

  }
  
  /* .btn:hover {
    background-color: #ddd;
  }
   */

