.aboutus-page img{
    margin-top: 50px;
    /* border-radius: 12px; */
}
.aboutus-page h2{
    padding: 20px;
    padding-top: 0px;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(34, 34, 244);
}
.vertical-line {
    border-left: 5px solid rgb(13, 13, 220); 
    height: 100px; 
    margin-left: 50px;
    margin: 30px;
    /* margin-top: 30px; */
  }
  .aboutus-page p{
    font-size: 20px;
  }
  .aboutus-page button{
    margin-top: 30px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
  }
  .aboutus-head{
    width: 166px;
height: 40px;
flex-shrink: 0;
border-radius: 0px 50px 0px 0px;
background: #095477;
  }
  .aboutus-head i{
    color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 170%; /* 51px */
letter-spacing: 0.3px;
text-transform: capitalize;
  }
  .about-question{
    color: #000;
font-family: Poppins;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 170%; /* 32.3px */
letter-spacing: 0.5px;
text-transform: capitalize;
  }