.patient-login{
    
}
.patient-login-img{
    /* background-color: blueviolet ; */
    width: 50%;
    height: 650px;
    
     padding-left: 90px;
     padding-top: 20px;
}
.patient-login-img img{
    border-radius: 20px;
}
.patient-login-box{
    width:570px;
     height:600px;
     background-color: rgb(162, 163, 160);
     margin-top: 20px;
     border-radius: 20px;
}
.patient-login-p{
    text-align: center;
    padding-top: 100px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.patient-login-input{
    padding-left: 100px;
    padding-top: 20px;
}
.patient-login-input input{
    width: 370px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;

}
.forget-link{
    padding-left: 230px;
    padding-top: 10px;
}
.patient-login-input ::placeholder{
    font-size: 20px;
    color: black;
    padding: 10px;

}
.patient-login-input button{
    width: 150px;
    border-radius: 20px;
    margin-left: 120px;
}
.forget-link-new{
    padding-top: 20px;
    padding-left: 200px;
}