.adminlogin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f2f5;
  }
  
  .adminlogin-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: max-content;
  }
  
  .adminlogin-form h2 {
    margin-bottom: 20px;
  }
  
  .adminform-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .adminform-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .adminform-group input {
    width: 417px;
height: 43px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #269CC8;
background: #DAEEF6;
  }
  
  .adminpassword-container {
    position: relative;
  }
  
  .adminpassword-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: #007bff;
  }
  
  .adminreset-password {
    display: block;
    margin-top: 5px;
    text-align: right;
    color: #0DB0FD;
    text-decoration: none;
  }
  
  .adminlogin-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
border: 1px solid #269CC8;
background: #0A5377;
    cursor: pointer;
    font-size: 16px;
    color: white;
  }
/*   
  .adminlogin-button:hover {
    background-color: #0056b3;
  } */
  