.mainclass{
    margin: 0;
    display: flex;
max-width:1500px;
height: 294px;
padding: 44px 194px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
flex-shrink: 0;
background: #095477;
}
.about-contenthelp p{
    color: #FFF;
font-family: Poppins;
font-size: 19.039px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 28.559px */
letter-spacing: 0.095px;
text-transform: capitalize;
padding: 0;
}
.about-contenthelp i{
    padding-left: 20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 19.039px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 28.559px */
    letter-spacing: 0.095px;
    text-transform: capitalize;
    

}
.about-contenthelp img{
    margin-left: 20px;
}
.abpout-copy{
    color: #FFF;
    font-family: Poppins;
    font-size: 19.039px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 28.559px */
    letter-spacing: 0.095px;
    text-transform: capitalize;

}