.patient-signin-input textarea{
    width: 400px;
    height: 100px;
    border-radius: 12px;
    border: 2px solid black;
}

.password-input-container {
    position: relative;
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  