.chat-mainbox{
  
    width: 1069px;
  max-width: fit-content;
  height: 580px;
  border-top: 1px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #000;
  background: #FFF;
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  }
  .chat-main-headbox{
    width: 1069px;
    height: 85px;
    flex-shrink: 0;
    background: #0A5377;
  }
  .chat-main-headbox img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    object-fit: contain;
  }

  .chat-mainbox-image {
    padding-left: 30px;
  }
  .chat-mainbox-arrow{
    padding-top: 20px;
    padding-left: 10px;
    color: #FFF;
font-family: Poppins;
font-size: 15.296px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 22.943px */
letter-spacing: 0.478px;
text-transform: capitalize;
  }
  .chat-mainbox-image p{
    padding-left: 10px;
    padding-top: 10px;
  }
  .chat-content-from{
    min-width: 407px;
    max-width: 550px;
min-height: 42px;
max-height: fit-content;
flex-shrink: 0;
    border-radius: 0px 10px 10px 10px;
background: #D9D9D9;
word-wrap: break-word; /* Ensure text wraps */
  overflow-wrap: break-word; 
  margin-top: 10px;
  }
  .chat-content-all{ 
    padding: 20px;
  }
  .chat-content-from h6{
    color: #A3A2A2;
    font-family: Poppins;
    font-size: 11.804px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 11.706px */
    text-transform: capitalize;
  }
  .chat-content-to{
    min-width: 407px;
    max-width: 550px;
min-height: 42px;
max-height: fit-content;
flex-shrink: 0;
border-radius: 10px 0px 10px 10px;
background: #D9D9D9;word-wrap: break-word; /* Ensure text wraps */
  overflow-wrap: break-word;
  margin-left: auto; 
  margin-top: 10px;
  }
  .chat-content-to h6{
    color: #A3A2A2;
    font-family: Poppins;
    font-size: 11.804px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 11.706px */
    text-transform: capitalize;
  }
  .chat-main-cnt-scrol{
    max-height: 470px; /* Adjust height as needed */
    overflow-y: auto;
    padding-right: 15px; 
  }
  .chat-main-cnt-scrol::-webkit-scrollbar{
    scrollbar-width: none;

  }
  .msg-send-box textarea{
    width: 911px;
height: 69px;
flex-shrink: 0;
border-radius: 30px;
border: 1px solid #000;
background: #FFF;
margin-left: 20px;
padding-left: 20px;
  }
  .msg-send-sent img{
    /* padding: 25px; */
    padding-left: 36px;
    padding-top: 20px;
  }
  .msg-send{
    margin-top: auto;
  }